html, body {
    height: 100%;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

/*Animation CSS3*/

@keyframes present {
    0% {
        opacity:0;
        -ms-transform: translateY(100px);
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        opacity:1;
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

/* --- Header --- */

.header {
    background-image: linear-gradient(131deg, #080E7B 0%, #A23AFF 100%);
    min-height: 100%;
}

.menu {
    font-size: 17px;
    color: #FFFFFF;
    width: 100%;
    padding-top: 2%;
    -webkit-font-smoothing: subpixel-antialiased;
}

.menu-icon {
    width: 15%;
    text-align: center;
}

.menu-label {
    width: 15%;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    line-height: 36px;
}
.menu-label:hover {
    background: rgba(0,0,0,0.25);
    border-radius: 8px;
}

.menu-download {
    width: 13%;
    color: #6B2AD0;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    line-height: 36px;
    background: #fff;
    border-radius: 35px;
    transition: transform .2s;
}

.menu-download:hover {
    transform: scale(1.04);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 10px 20px 0 rgba(0,0,0,0.15);
    color: #612ac2;
}

.alert-bg {
    margin: 50px auto;
    width:50%;
    height:30px;
    background: rgba(0,0,0,0.25);
    border-radius: 15px;
    -webkit-animation: present 3s;
}
.alert-text {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 21%;
    margin-left: 0.5%;
}

.alert-new-badge {
    color: #fff;
    background-color: #26C3F9;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-size: 14px;
    float: left;
    margin-top: 0.45%;
    margin-left: 0.5%;
    -webkit-font-smoothing: subpixel-antialiased;
}

.main-iphone {
    position: relative;
    display: block;
    width: 100%;
}

#phoneWrapper {
    right:0;
    height: 350px;
    position: absolute;
    z-index: 2;
    -webkit-animation: present 4s;
}

.banner-text {
    font-size: 65px;
    font-weight:700;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #ffffff;
    width:20vh;
    height: 40vh;
    margin-left:10%;
    margin-top:10%;
    -webkit-animation: present 3.5s;
}

.banner-description {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100 !important;
    position: absolute;
    width: 50vh;
}


/* --- Section 2 --- */

.section2 {
    background: #fff;
    min-height: 100%;
}

.section3 {
    background: #eceef1;
    min-height: 100%;
}

.section4 {
    background-image: linear-gradient(131deg, #FE6F65 0%, #4E0F7C 100%);
    min-height: 100%;
}

.section5 {
    background: #fff;
    min-height: 45%;
}

.section6 {
    background: #eceef1;
    min-height: 100%;
}

.section7 {
    background: #fff;
    min-height: 45%;
}

.footer {
    background: #D8D8D8;
    background-image: linear-gradient(-135deg, #BACCE7 0%, #96ADCD 100%);
    min-height: 50%;
}